body{
    margin: 0;
}

nav{
    display: flex;
    background-color: rgb(37, 37, 37);
    width: 100%;
}
img{
    margin-left: 50px;
    
    height: 100px;
}
.logo{
    width: 25%;

}

.lista{
    width: 75%;
    display: flex;
    align-items: center;
    
}

.lista ul{
    list-style: none;
    width: 100%;
    margin-left: 30%;
   
}

.lista .item a{
    text-decoration: none;
    font-size: 120%;
    color: white;
  
}
.item{
    display: inline;
    margin: 2%;
    
   
}

.item a{
    padding: 20px;
    transition: 0.3s;
}

.item a:hover{
    background-color: beige;    
    color: black;
}